$font-family-base: Georgia, "Times New Roman", Times, serif !default;
$font-size-base: 16px;
$navbar-height: 40px;

body  {
  padding-top: 60px;
}

@import 'bootstrap';

// Devise alerts

.alert-alert {
  @extend .alert-danger;

}

.alert-notice {
  @extend .alert-success;
}